Return error if no scopes are approved

If no scopes are approved for an Authorization Request, return access_denied: https://www.rfc-editor.org/rfc/rfc6749.html#section-4.1.2.1

If no scopes are approved for an Access Token Request, return invalid_scope: https://www.rfc-editor.org/rfc/rfc6749.html#section-5.2

The result should be that OA4MP never issues a token containing `"scope": ""`.

Returning an error in this case is permitted by the [WLCG Profile](https://github.com/WLCG-AuthZ-WG/common-jwt-profile/blob/master/profile.md#scope-based-capability-selection):

> If an entity is not entitled to a capability, the scope requested may be ignored by the server and the corresponding token may not have the corresponding claims; in this case, section 3.3 of RFC 6749 requires the token issuer to inform the client. A server may also return an error during the authorization request. Client software implementations should always verify the scopes present in the returned token.

The relevant sections ([3.2.16](https://openid.net/specs/openid-connect-core-1_0.html#AuthError) and [3.1.34](https://openid.net/specs/openid-connect-core-1_0.html#TokenErrorResponse)) of OIDC Core 1.0 reference the relevant OAuth 2.0 sections, so we can have consistent behavior for both OIDC and OAuth 2.0 requests.

Note also that if the scope of the access token differs from the scope requested by the client, then a successful response to the Access Token Request must include a scope parameter ( https://www.rfc-editor.org/rfc/rfc6749.html#section-5.1 ).

> scope
         OPTIONAL, if identical to the scope requested by the client;
         otherwise, REQUIRED.  The scope of the access token as
         described by [Section 3.3](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.3).